/* starts here  */
.bbest-banner-twocolumns > * {
	font-family: 'Barlow';
	font-style: normal;
 letter-spacing: 0px;
}

.bbest-banner-twocolumns h1 {
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0px;
	color: #000099;
	margin-bottom: 0;
}
.bbest-banner-twocolumns p {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0px;
	color: #0066FF;
	margin-bottom: 50px;
}
.bbest-banner-twocolumns a {
	color: white;
	text-decoration: none;
}
.bbest-banner-twocolumns{
	max-width: 1300px;
	margin:auto;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0 40px;
}

.bbest-banner-twocolumns-header {
	width: 50%;
}
.bbest-banner-twocolumns-flex {
	display: flex;
	flex: flex-wrap;
}
.bbest-banner-twocolumns-img {
	width: 103px;
	height: 102px;
	background: url("https://via.placeholder.com/103x102") center / cover;
}
.bbest-banner-twocolumns-content {
	 width: 60%;
}
.bbest-banner-twocolumns-first, .bbest-banner-twocolumns-second{
	display: flex;
	flex: 1 1 50%;
	gap: 25px;
}

@media (max-width: 900px) {
	.bbest-banner-twocolumns-header {
		width: 100%;
	}
	.bbest-banner-twocolumns-flex {
		display: block;
	}
}